# Random macOS stuff
.DS_Store

# Caches
__pycache__/
.ruff_cache
.pytest_cache

# Build
dist

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# virtualenv
.venv

# VS Code
.vscode/

# Locals
local*
